*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Luckiest Guy", serif;
  height: 100vh;
  background-color: #202c36;
  color: white;
}
.add-country {
  font-size: 2rem;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.add-country:hover {
  cursor: pointer;
}
.upper-container {
  padding: 6rem 4rem;
}
.lower-title {
  font-size: 1rem;
  margin-top: 1rem;
}
#select-pays1 {
  font-family: "Luckiest Guy", serif;
  padding: 1rem;
  background: none;
  margin-top: 1rem;
  color: white;
  border: 1px solid white;
  font-size: 1rem;
  -webkit-appearance: none;
}
.home-container {
  height: 100vh;
  display: flex
;
  flex-direction: column;
}
#select-pays2 {
  font-family: "Luckiest Guy", serif;
  padding: 1rem;
  background: none;
  margin-top: 1rem;
  color: white;
  border: 1px solid white;
  font-size: 1rem;
  -webkit-appearance: none;
}
.select-details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.stats-container {
  padding: 1em;
  background: none;
  border: 1px solid white;
  width: fit-content;
  font-size: 1rem;
}
.middle {
  display: flex;
  flex-direction: column;
  gap: 12rem;
}
.middle-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.vs {
  font-size: 2rem;
}
.title {
  font-size: 3.5rem;
  text-align: center;
}
.lower-title {
  font-size: 1.5rem;
}
.player1 {
  width: fit-content;
  padding-left: 8rem;
  padding-top: 4rem;
}
.player2 {
  width: fit-content;
  padding-right: 8rem;
  padding-top: 4rem;
}
.middle-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.stats-details {
  position: absolute;
}
.ready > a {
  position: relative;
  top: 140px;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
  text-decoration: none;
  color: white;
}

.vs {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.health-bar {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.health-nbr {
  color: rgb(255, 0, 0);
}
.menu-battle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.attack-bar {
  display: flex;
  gap: 15px;
}
.attack-bar a, .nuclear-bar a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #454444;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.attack-bar a:hover, .nuclear-bar a:hover {
  background-color: #676666;
}
.nuclear-bar {
  margin-top: 10px;
}

.subtitle a {
  color: red;
  text-decoration: none;
}

